
@import url(http://fonts.googleapis.com/css?family=Fondamento|Ubuntu|Open+Sans:400italic,700italic,400,700);

$custom-color-base: black;

$body-bg: #373939;
$body-color: white;

$font-family-base: Ubuntu, Arial, sans-serif;

$border-width:0;
$border-radius:0;
$border-radius-lg:0;

$ternary: lighten($custom-color-base , 20%);

$theme-colors: (
  "ternary": $ternary,
  "olfp" : violet
);

$grid-breakpoints: (
        xxl: 1600px
) ;


